<h2>
	Comment faire?
</h2>

<ul>
	<li>
		Si supportée et autorisée dans les parametre de localisation de votre appareil, partagez votre géolocalisation.
	</li>
	<li>Si pas d'autorisations, la localisation par defaut est à Bxl </li>
	<li>
		Choisir une localisation pou un nouveau restaurant, le personnage se transforme alors en marqueur google map
	</li>
	<li>Indiquez un nom</li>
	<li>Choisissez un type de restaurant</li>
	<li>Envoyer</li>
	<li>Voila, le restaurant a été ajouté :)</li>
</ul>
<form name ="addForm" novalidate>
	<div class="form-group">
		<label for="nom">Nom <span class="badge">Champ requis</span></label>
		<input type="text" class="form-control" id="nom" placeholder="Le nom" ng-model="formData.nom" required>
	</div>

	<div class="form-group">
		<input type="text" id="location" name="location" placeholder="City or ZIP code">

	<input type="text" id="lat" value="39" ng-model="formData.latit" readonly>
	<input type="text" id="lng" value="10" ng-model="formData.longit" readonly>
	</div>

	<label class="radio control-label">Type</label>
	<div class="radio">
		<label>
			<input type="radio" name="optionsRadios"  value="Pizza" ng-model="formData.type">
			Pizza
		</label>
	</div>
	<div class="radio" required>
		<label>
			<input type="radio" name="optionsRadios"  value="Frites" ng-model="formData.type">
			Frites
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="optionsRadios" value="Pita" ng-model="formData.type">
			Pita
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="optionsRadios"  value="Restaurant" ng-model="formData.type">
			Restaurant
		</label>
	</div>
	<div class="form-group">
		<label for="latitude">Latitude</label>
		<input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude" readonly>
	</div>
	<div class="form-group">
		<label for="longitude">Longitude</label>
		<input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude" readonly>
	</div>
	<div class="form-group">
		<label for="verified">Localisation vérifiée? <span><button ng-click="refreshLoc()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
		<input type="text" class="form-control" id="verified" placeholder= "Localisation précise" ng-model="formData.htmlverified" readonly>
	</div>
	<button type="submit" class="btn btn-danger btn-block" ng-click="creerRestaurant()" ng-disabled="addForm.$invalid">Envoyer</button>
</form>
