<script src="js/autocomplete.js"></script>

<h2>
	Comment faire?
</h2>
<form name ="queryForm">



	<div class="form-group">
		<input type="text" id="location" name="location" placeholder="Ville ou code postal">

		<input type="hidden" id="lat" value="39" ng-model="formData.latit" readonly>
		<input type="hidden" id="lng" value="10" ng-model="formData.longit" readonly>
	</div>

	<div class="form-group">
		<label for="latitude">Latitude du click souris</label>
		<input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude" readonly>
	</div>
	<div class="form-group">
		<label for="longitude">Longitude du click souris</label>
		<input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude" readonly>
	</div>

	<label> Distance </label>
	<div class="range-slider">
		<input class="input-range" type="range" value="6" min="1" max="20" ng-model="formData.distance">
		<span class="range-value"></span>
	</div>
	<br>
	<label>Type de cuisine</label>
	<div class="form-group">
		<label class="checkbox-inline">
			<input type="checkbox" name="optionsRadios" id="checkmale" value="Pizza" ng-model="formData.pizza" ng-true-value = "'Pizza'">
			Pizza
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" name="optionsRadios" id="checkfemale" value="Frites" ng-model="formData.frites" ng-true-value="'Frites'">
			Frites
		</label>

		<label class="checkbox-inline">
			<input type="checkbox" name="optionsRadios" id="checkfemale" value="Restaurants" ng-model="formData.restaurants" ng-true-value="'Restaurants'">
			Restaurants
		</label>

		<label class="checkbox-inline">
			<input type="checkbox" name="optionsRadios" id="checkfemale" value="Pita" ng-model="formData.pita" ng-true-value="'Pita'">
			Pita
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" name="optionsRadios" id="checkfemale" value="En Belgique" ng-model="formData.enBelgique" ng-true-value="'En Belgique'">
			Tout les fast-food
		</label>
		<!--
		<label class="checkbox-inline">
			<input type="checkbox" name="optionsRadios" id="checkother" value="Tout" ng-model="formData.tout" ng-true-value="'Tout'">
			Tout
		</label>
	--></div><!--
	<div class="form-group">
		<div class="checkbox">
			<label>
				<input type="checkbox" name="verified" id="radiomale" value="True" ng-model="formData.verified"> <strong>Inclure les positions vérifiées?</strong>
			</label>
		</div>
	</div>
	-->
	<!-- Query button. Note that its tied to queryUsers() function from queryCtrl.  -->
	<button type="submit" class="btn btn-danger btn-block" ng-click="requeteRestos()">Rechercher</button>
</form>
